*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial,Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #fdfbfb;
    color: #000000;
    padding: 20px;
}
header{
    background-color: #6058b9;
    color:#fdfbfb;
    padding:30px;
    text-align:center;
}
hr{
    margin: 20px 0;
}
nav{
    background-color: #fdfbfb;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
}
nav a{
    color: #6058b9;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}